body{
    margin: 0;
    padding: 0;
}
#grandparent{
    margin: 0;
    padding: 0;
    display: grid;
    background-color: burlywood;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar{
    background-color: black;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    color: white;

}
.logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    
}
img{
    height: 40%;
    width: 30%;
    margin-bottom: 15px;
}
.otherPages{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.header{
    background-color: #352F44;
    color: white;
    grid-column: 2/4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.searchBar{
    width: 70%;
}
.profile{
    display: flex;
    gap: 20px;
    align-items: center;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.gridContainer{
    background-color: #B9B4C7;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-row: 3fr 1fr;
}
#mainContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
#sideContainer{
    display: grid;
    grid-template-rows: 1fr 2fr;
    
}
.grid{
    background-color: #352F44;
    color: white;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.grid:hover{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
}
#announcement{

}
#trending{
 
}